@import "tailwindcss";

@font-face {
  font-family: YuseiMagic;
  src: url("./assets/fonts/YuseiMagic-Regular.ttf") format("truetype");
}

@theme{
  --font-yuseimagic: YuseiMagic, "sans-serif";
  --color-primary: #012344;
  --color-second: #f2c15e;
  --color-tertiary: #003468;
  --text-default: 20px;

  @keyframes shake {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, -2px); }
    80% { transform: translate(2px, 2px); }
    100% { transform: translate(0); }
  }

}

@layer{
  .spacing {
    padding: 2rem;
  }
}

body {
  font-family: var(--font-yuseimagic);
  color: white;
  background-color: black;
}

li:hover{
  cursor: pointer;
}

button:hover{
  cursor: pointer;
}

.shakeAnimation{
  animation: shake 0.4s ease-in-out;
}